.workSection {
    display: flex;
    height: 100%;
    flex: 2 1 0%;
    min-width: 0;
    min-height: 0;
    position: relative;
    border-top: solid 1px black;
    overflow: hidden;
}

.workMain {
    align-items: stretch;
    display: flex;
    flex: 0 0 auto;
    min-height: 100%;
    min-width: 0;
    width: 100%;
    background: white;
}

.detailMain {
    display: flex;
    flex: 0 0 auto;
    min-height: 100%;
    min-width: 0;
    width: 100%;
}

.contentPane {
    flex: 2;
    min-height: 0;
    min-width: 0;
    position: relative;
}

.sidebarPane {
    align-self: flex-start;
    height: calc(100vh - var(--header-height) * 3);
    position: sticky;
    top: 0;
}

.projectLoading {
    align-items: center;
    display: flex;
    font-size: var(--font-sm);
    height: 100%;
    justify-content: center;
    width: 100%;
}

.projectDetailLoading {
    display: flex;
    height: 100%;
    width: 100%;
}

.projectDetailLoadingMedia {
    align-items: center;
    display: flex;
    flex: 2;
    justify-content: center;
    min-width: 0;
}

.projectDetailLoadingSidebar {
    border-left: 1px solid black;
    flex: 1 0 0;
    height: 100%;
    max-width: 350px;
    min-width: 350px;
    padding: var(--space-lg) var(--space-xl);
}
