.sidebarFrame {
    /* --work-sidebar-width: min(25vw, 400px); */
    --work-sidebar-width: calc((100vw - 4px) / 5);
    border-left: 1px solid var(--off-black);
    display: flex;
    flex: 0 0 var(--work-sidebar-width);
    flex-direction: column;
    height: 100%;
    max-width: var(--work-sidebar-width);
    min-height: 0;
    min-width: var(--work-sidebar-width);
    overflow: hidden;
    scrollbar-width: none;
    width: var(--work-sidebar-width);
}


@media (max-width: 1245px) {
    .sidebarFrame {
        --work-sidebar-width: calc((100vw - 2px) / 4);
    }

}

@media (max-width: 900px) {
    .sidebarFrame {
        --work-sidebar-width: calc((100vw - 1px) / 3);
    }
}

.stickySidebarFrame {
    align-self: flex-start;
    height: calc(100vh - var(--header-height) * 3);
    position: sticky;
    top: 0;
}

.sidebarFrame::-webkit-scrollbar {
    display: none;
}
