/* Global Styles, for resets, CSS vars, base html/body rules */

:root {
    --font-xs: 0.75rem; /* 12px */
    --font-sm: 0.875rem; /* 14px */
    --font-md: 1rem; /* 16px */
    --font-lg: 1.125rem; /* 18px */
    --font-xl: 1.25rem; /* 20px */
    --font-2xl: 1.5rem; /* 24px */
    --font-3xl: 2rem; /* 32px */

    --space-xs: 5px;
    --space-sm: 10px;
    --space-md: 15px;
    --space-lg: 20px;
    --space-xl: 30px;
    --space-2xl: 40px;

    --dimmed: #b9b9b9;
    --off-black: #100F0F;
    --links: #218287;
    --hover: #767676;
    --disabled-gray: #AEAEAE;

    --header-height: 40px;
    --mobile-btn-height: 44px;
    --mobile-header-height: 44px;
    --section-header-height: var(--header-height);

    --focus: 4px dotted teal;
}

@media (max-width: 576px) {
    :root {
        --section-header-height: var(--mobile-header-height);
    }
}

body {
    color: var(--off-black);
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* optional, usually good */
}

a {
    color: var(--links);
}

p, h1, h2, h3, h4, h5, h6, button { 
    color: var(--off-black);
}
