.footer {
    align-content: center;
    border-top: 1px solid var(--off-black);
    box-sizing: border-box;
    display: grid;
    justify-items: center;
    background: white;
}

.logo {
    display: block;
    height: auto;
    width: 100%;
    /* padding: var(--space-xl); */
    padding: 30px 10px 0 10px;
}

.details {
    font-size: var(--font-xs);
    color: var(--hover-gray);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5px;
    width: 100%;
    padding: 60px 30px 30px 30px;
}