.footer {
    align-content: center;
    border-top: 1px solid var(--off-black);
    box-sizing: border-box;
    display: grid;
    justify-items: center;
    background: white;
    gap: 70px;
}

.logo {
    display: block;
    height: auto;
    width: 100%;
    padding: 30px;
}

.details {
    font-size: var(--font-xs);
    color: var(--hover-gray);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 30px;
}

.details a {
    color: black;
    text-decoration: none;
}

@media (max-width: 768px) {
    .footer {
        gap: 20px;
    }
    .details, .logo {
        padding: 15px;
    }
}