* {
  font-family: var(--font-body), sans-serif;
}

body,
html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

button {
    background-color: transparent;
    border: none;
}

button:hover {
    cursor: pointer;
}

:where(
  a,
  button,
  input,
  textarea,
  select,
  summary,
  [tabindex]:not([tabindex="-1"])
):focus-visible {
    outline: var(--focus);   
}

.site {
    display: flex;
    flex-direction: column;
    height: 100vh;
    height: 100dvh;
    overflow: hidden;
}

/* Style Ups */

@media (max-width: 1151px) {
  .work__project-assets {
      height: 150px;
  }
}

.scrollbar::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background: transparent;
}

.scrollbar::-webkit-scrollbar-thumb {
    background-color: var(--off-black);
    border: solid 2px white;
    border-radius: 0;
}

.scrollbar::-webkit-scrollbar-track {
    background: transparent;
    margin: 2px;
}
