
body, html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  font-family: var(--font-body), system-ui, sans-serif;
  font-family: var(--font-heading);
  font-weight: 300;
  font-size: 14px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 
*:focus {
  outline: 4px dotted #F02D3D;
  outline-offset: -4px;
} */

h1,
h2,
h3,
h4,
h5,
h6 {
  /* font-family: var(--font-heading), serif; */
  font-size: 16px;
}

/* h1:hover {
  font-family: var(--font-heading-hover), serif;
} */

/* Site  */

.site {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.site__main {
  /* this is where the hidden message board will be */
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column; 
  min-height: 0; /* again, allows children to shrink correctly */

}

/* Header */

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0px 30px;
  min-height: 80px;
  max-height: 80px;
}

.nav img {
  width: 375px auto;
  transition: width 2s;
  padding: 0 30px;
 }

.nav__item button {
  width: 100% auto;
  white-space: nowrap;
}

.nav__item-content {
  display: flex;
  align-items: center;
  padding: 5px 30px;
  justify-content: space-between;
  position: absolute;
  top: 0;
  width: 100vw;
  min-height: 80px;
  max-height: 80px;
  background-color: white;
}

/* Work */

.work {
  display: flex;
  transition: height 2s ease;
 
  flex: 2 1 0%;
  min-width: 0;
  position: relative;
}

.work__projects {
  display: grid;
  flex: 2;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  padding: 30px;
  overflow: auto;
  scrollbar-width: none; 
  /* height: calc(100% - 37px); */
  align-content: start;
  /* Firefox */
}

/* 3 columns on medium screens */
@media (max-width: 1200px) {
  .work__projects {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* 2 columns on smaller screens */
@media (max-width: 900px) {
  .work__projects {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* 1 column on mobile */
@media (max-width: 600px) {
  .work__projects {
    grid-template-columns: 1fr;
  }
}

.work__projects::-webkit-scrollbar {
  display: none; 
  /* Chrome, Safari, Edge */
}

.work__project-card {
  transition: transform 0.1s ease-in-out;
  transform-origin: center;
  position: relative;
}

.work__project-card-img {
  border: 1px solid black;
}

.shape-mask {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  /* mix-blend-mode: difference; */
  transition: opacity 0.3s ease;
}

.shape-mask--hover {
  opacity: 0.85;
}

.shape-mask--active {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 1;
  /* background-color: red; */
}

/* .work__project-card--active {
    transform: scale(1.02) rotate(var(--rotate));
} */

/* Sidebar */

.work__sidebar {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0;
  min-height: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  overflow-y: auto;

  border-left: 1px solid black;

  flex: 1 1 0%;

  overflow-x: hidden;
  /* min-width: 0px; */
  /* width: 450px; */


  scrollbar-width: none;  /* Firefox */
  -ms-overflow-style: none;  /* IE and Edge */
}

.work__sidebar::-webkit-scrollbar {
  display: none;  /* Chrome, Safari, Opera */
}

.work__sidebar-title:nth-of-type(2) {
  position: sticky;
  top: 500px;
}

/* Filters */

.work__filter {
  position: sticky;
  top: 0px;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-flow: row dense;
  border-bottom: 0.5px solid black;
  background-color: white;
  width: 100.3%;
  background-color: white;
}

.work__sidebar-title {
  padding-left: 30px;
    padding-top: 30px;
padding-bottom: 5px;

font-weight: 600;
}

.work__filter-category-group {
  border-top: 1px solid black;
  border-right: 1px solid black;
  width: 100%;
}

.work__filter-category-btn,
.work__filter-subcategory-btn {
  display: flex;
  justify-content: space-between;
}

.work__filter-category-btn {
  outline: 1px solid black;
}

.work__filter-subcategory {
  border-bottom: 1px solid black;
}

.work__filter-subcategory:last-child {
  border-bottom: none;
}

.work__filter-category-btn {
  width: 100%;
  padding: 3px 15px;
  text-align: left;
}

.work__filter-subcategory-btn {
  padding: 3px 15px;
  width: 100%;
  text-align: left;
}

.work__filter-category-btn .dots {
  padding-right: 10px;
}

.work__filter-subcategory-btn .dots span:nth-child(2) {
  padding-right: 10px;
}

.work__filter-subcategory-btn .dots span:nth-child(1) {
  margin-right: -2px;
}

.work__filter-category-group--featured,
.work__filter-category-group--all {
  grid-column: 1;
}

.work__filter-subcategories {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 0;
}

.work__filter-subcategories--expanded {
  height: 100%;
}

.work__filter-category,
.work__filter-subcategory {
    position: relative;
}

/* .work__filter-category-btn--active::before {
  content: '⬤';
  left: 4px;
  top: 50%;
  height: 90%;
  transform: translateY(-50%);
  position: absolute;
}

.work__filter-subcategory-btn--active::before {
  content: '⬤⬤';
  height: 90%;
  left: 4px;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
} */

/* Project Details */

.work__project-details {
  flex: 0 0 auto;
  border-top: 1px solid black;
  /* margin-top: 30px; */

  height: fit-content;
  /* height: 400px; */

}

.work__project-details-body > div {
  border-bottom: 1px solid black;
  /* less padding to the left */
  padding: 5px 30px 5px 30px;
}

.work__project-details__categories {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 5px;
}

.work__project-details__category {
  background-color: black;
  color: white;
}

.work__project-details__subcategory {
  background-color: black;
  color: white;
}

.work__project-details-credits div,
.work__project-details-description div
{
  padding-top: 10px;
}


.work__project-details-credits li {
  display: flex;
  justify-content: space-between;
}


details>summary {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

summary::-webkit-details-marker {
  display: none
}

summary::after {
  content: '↓';
}
details[open] summary:after {
  content: " ↑";
}

.work__project-assets {
  /* for mobile */
  /* scroll-snap-type: x mandatory; */
  cursor: grab;
  scrollbar-width: none;
  touch-action: pan-y;
  padding: 0 30px 30px 30px;
}

.work__project-asset-controls {
  display: flex;
  justify-content: space-between;
  padding: 10px 30px;
}

.react-player__preview {
  border: 1px solid black;
  aspect-ratio: 16/9;
}

/* .work__project-assets-multiple {
  display: flex;
  gap: 15px;
  overflow-x: auto;
}

.work__project-assets-multiple-count {
  display: flex;
  justify-content: space-between;
  padding: 15px 30px 15px 30px;
} */

.work__project-assets::-webkit-scrollbar {
  display: none;
}

/* .work__project-assets:active {
  cursor: grabbing;
} */

/* .work__project-image {
  width: 250px;
  height: auto;
  display: block;
  flex: 0 0 auto;
  for mobile
  scroll-snap-align: start;
} */

/* .work__project-image img {
  width: 100%;
  height: auto;
  user-select: none;
  pointer-events: none;
} */

/* .work__project-images::after {
  content: "";
  pointer-events: none;
  position: sticky;
  right: 0;
  width: 40px;
  background: linear-gradient(to left, rgba(255,255,255,1), transparent);
} */

.work__project-video-embed {
  /* position: relative; */
  /* width: 100%; */
  /* aspect-ratio: 16 / 9; */
}

.work__project-assets iframe {
  /* position: absolute; */
  /* inset: 0; */
  /* width: 100%; */
  /* height: 100%; */
  /* border: 0; */
  /* max-height: 250px; */
}

/* Scrollbars */

.work__projects::-webkit-scrollbar,
.work__sidebar::-webkit-scrollbar {
  width: 5px; /* width of vertical scrollbar */
  height: 10px; /* height of horizontal scrollbar */
}

.work__projects::-webkit-scrollbar-track,
.work__sidebar::-webkit-scrollbar-track {
  background: #f0f0f0; /* track color */
  border-radius: 5px;
}

.work__projects::-webkit-scrollbar-thumb,
.work__sidebar::-webkit-scrollbar-thumb {
  background: #c2c2c2; /* scrollbar handle color */
  border-radius: 5px;
}

.work__projects::-webkit-scrollbar-thumb:hover , 
.work__sidebar::-webkit-scrollbar-thumb:hover {
  background: #9d9d9d; /* hover state */
}

/* .hint .accordion__header {
  cursor: pointer;
}

@keyframes easter-bounce {
  0%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(8px);
  }
}

.hint {
  animation-timing-function: cubic-bezier(.34,1.56,.64,1);

  animation: easter-bounce 1.1s cubic-bezier(.4,0,.2,1);
} */

/* Style Ups */

.main_style {
  display: flex;
  width: 100%;
  /* fix the height its being weird and bottom of sidebar is getting cut off */
  height: 100%;
  overflow: hidden;
}

.styleUps {
  display: grid;
  align-items: start;
  flex: 2;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
  padding: 30px;
  overflow: auto;
  scrollbar-width: none; 
  height: fit-content;
  max-height: 100%;
}

.styleUps img {
    border: 1px solid black;
}

.style_sidebar {
  flex: 1;
  position: relative;
  border-left: 1px solid black;
  overflow: hidden;
  max-height: 100%;
    /* border-bottom: 1px solid black; */
}

.style_title {
  position: absolute;
  bottom:0;
  background-color: white;
  padding: 10px 30px;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid black;
  width: 100%;
}


.style_sidebar--preview {
  position: relative;
  overflow: hidden;
  max-height: 100%;
  top: 0;
}

@media (max-width: 908px) {
  .work__filter {
    grid-template-columns: 1fr;
  }

  .work__project-assets {
    height: 150px;
  }
}

media-controller:not([mediahasplayed]) media-control-bar {
  display: none;
}

.modal__container {
  position: absolute;       /* stays on the viewport */
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* semi-transparent overlay */
  display: flex;         /* use flexbox to center */
  justify-content: center; /* center horizontally */
  align-items: center;     /* center vertically */
  z-index: 9999;  
  padding: 30px;       /* on top of everything */
}

.modal {
  background-color: #fff;
  padding: 30px;
  width: 100%;      /* responsive max width */
  height: 100%;      /* prevent it from overflowing vertically */
}

.modal__control {
  display: flex;
  justify-content: space-between;
}