.container {
    composes: sidebarFrame from '../shared/WorkSidebarLayout.module.css';

    min-height: 0;
    justify-content: space-between;
    -ms-overflow-style: none;
}

.filterSection {
    flex: 1 1 auto;
    min-height: 0;
    overflow: hidden;
    background-color: white;
}

.detailsSection {
    flex: 0 0 auto;
}

.detailsSectionOverflow {
    border-top: 1px solid var(--off-black);
}
